.user-name {
    text-align: left;
}

body {
    background-color: rgb(24, 23, 23);
    background-image: url('../assets/chemistry-bg.jpg');
    background-position: contain;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 1fr;
    background-color: rgba(53, 52, 52, 0.851);
    border-radius: 15px;
    box-shadow: 1px 1px gray;
    width: 700px;
    height: 75px;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1.3rem;
    margin-top: 3px;
  }

.card:hover {
  background-color: rgba(53, 52, 52, 0.551);
  
}

.user-name {
  font-size: 1.2rem;
}
  
h1, h2 {
  color: gray;
}

.avatar {
  text-align: left;
}

button {
  width: 100px;
  margin: auto;
  padding: 7px;
  text-transform: uppercase;
  background-color: rgb(240, 241, 255);
  border: 1px solid rgb(222, 223, 237);
  box-shadow: 2px 2px gray;
  margin-top: 15px;
  color: blue;
}
